@import "../../../../assets/styles/colors.scss";

.profile{
  height: 100%;
  margin-right: 24px;
  position: relative;

  &-photo{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &-data{
    height: calc(100% - 60px);
    padding: 90px 24px 24px;
    position: absolute;
    top: 60px;
    width: 100%;
    .texts{
      width: 100%;
      h1{
        color: $color-dark-blue-75;
        margin-bottom: 24px;
      }
      .text-accent{
        label, p{
          color: $color-accent;
        }
      }
    }
  }

  &-arrow{
    cursor: pointer;
    left: -24px;
    position: absolute;
    top: 100px;
  }
}

@media screen and (max-width: 520px){
  .profile{
    margin-right: 0;
    height: 630px;
    &-data{
      height: initial;
    }
  }
}