<div *ngIf="student" class="student-detail">
  <div class="student-detail-profile">
    <student-profile
      [student]="student"
      [coursesAdded]="coursesAdded">
    </student-profile>
  </div>
  <div class="student-detail-tabs card">
    <div class="tabs">
      <div class="tab" [ngClass]="{'active': tabSelected=='personal-data'}"
        (click)="tabSelected='personal-data'">
        <p>EDITAR DATOS PERSONALES</p>
      </div>
      <div class="tab" [ngClass]="{'active': tabSelected=='add-courses'}"(click)="tabSelected='add-courses'">
        <p>AGREGAR ASIGNATURAS</p>
      </div>
    </div>
    <div class="tabs-container">
      <section *ngIf="tabSelected=='personal-data'">
        <student-form [student]="student"></student-form>
      </section>
      <section *ngIf="tabSelected=='add-courses'">
        <course-list
          [student]="student"
          (coursesAddedEvent)="coursesAdded=$event"></course-list>
      </section>
    </div>
  </div>
</div>