@import "../../../assets/styles/colors.scss";

.student{
  min-height: 600px;
  &-summary{
    flex-grow: 1;
    margin-right: 24px;
    position: relative;

    .photo{
      display: flex;
      justify-content: center;
      position: absolute;
      z-index: 10;
      width: 100%;
    }

    .data{
      height: calc(100% - 60px);
      padding: 90px 24px 24px;
      position: absolute;
      top: 60px;
      width: 100%;
      h1{
        color: $color-dark-blue-75;
        margin-bottom: 24px;
      }
      .button-box{
        bottom: 24px;
        margin: auto;
        position: absolute;
        width: 90%;
      }
    }

    .arrow{
      cursor: pointer;
      left: -24px;
      position: absolute;
      top: 100px;
    }
  }

  &-forms{
    flex-grow: 1;
    &-personal{
      height: 100%;
      width: 100%;
    }
    &-courses{
      .form-wrapper{
        background-color: #EFEFEF;
        border-radius: 16px;
        box-shadow: 0px 1px 10px rgba(34, 48, 63, 0.25);
        color: $color-dark-blue;
        .head{
          font-weight: bold;
          height: 40px;
          padding: 20px;
        }
        .body{
          height: 350px;
          overflow-y: auto;
          padding: 20px;

          &::-webkit-scrollbar{
            background-color: transparent;
            left: 0;
            position: relative;
            width: 7px;
          }

          &::-webkit-scrollbar-thumb{
            background: rgb(0, 0, 0, 0.4);
            border-radius: 7px;
          }

          .row{
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
            border-radius: 16px;
            box-shadow: 0px 1px 10px rgba(34, 48, 63, 0.15);
            height: 40px;
            margin-bottom: 12px;
            padding: 15px 20px;
          }
        }
      }
    }
    &-buttons{
      margin-top: 32px;
      width: 100%;
      button:first-child{
        margin-right: 20px;
      }
    }
  }
}