<form class="course flex-col-layout jc-space-between"
  [formGroup]="listFG" (ngSubmit)="saveCourses()">
  <div class="course-list">
    <div class="head">
      <div class="flex-row-layout">
        <div class="col">Nombre asignatura</div>
        <div class="col">Estado</div>
        <div class="col">Nivel</div>
        <div class="col"></div>
      </div>
    </div>
    <div class="body" formArrayName="courses">
      <div class="row"
        *ngFor="let item of listFG.controls['courses']['controls']; let i = index"
        [formGroupName]="i">
        <div class="flex-row-layout">
          <div class="col name">{{courses[i].course.name}}</div>
          <div class="col">{{courses[i].stateLabel}}</div>
          <div class="col">{{courses[i].course.level}}</div>
          <div class="col">
            <input type="checkbox"
              [checked]="item.checked"
              formControlName="checked"
              (change)="onCheckboxChange(item, $event)">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="course-buttons flex-row-layout jc-flex-end">
    <button class="btn btn-secondary">Cancelar</button>
    <button class="btn btn-primary"
      [disabled]="addedCourse.length == 0"
      type="submit">
      Guardar
    </button>
  </div>
</form>