@import "../../../assets/styles/colors.scss";

.dashboard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  min-height: 600px;
  &-students{
    flex-grow: 1;
    max-width: 500px;
    padding-right: 24px;
    .item{
      height: 100px;
      margin-bottom: 20px;
      cursor: pointer;
      padding: 20px 24px;
      &:last-child{
        margin-bottom: 0;
      }
      &.border-green{
        border: 1px solid $color-primary;
        cursor: auto;
      }
      &.border-red{
        border: 1px solid $color-alert;
        cursor: auto;
      }
      &-photo{
        width: 60px;
      }
      .info{
        flex-grow: 2;
        margin-left: 24px;
        &-name{
          color: $color-grey;
        }
        &-summary{
          color: $color-dark-blue;
          font-size: 12px;
          margin-top: 10px;
          p{
            flex: 1;
          }
        }
      }
    }
  }
  &-summary{
    flex-grow: 1;
    max-width: calc(100% - 500px);
    color: $color-grey-75;
    padding: 0 50px;
    h1{
      margin-top: 50px;
      color: $color-primary;
    }
    .description{
      margin: 50px 0;
    }
    .chart{
      margin-top: 50px;
      .group{
        margin-bottom: 24px;
        &:last-child{
          margin-bottom: 0;
        }
        &-label{
          width: 180px;
        }
        &-bar{
          flex-grow: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 520px){
  .dashboard{
    display: flex;
    flex-direction: column-reverse;

    &-students{
      padding-right: 0;
      .item{
        height: auto;
        padding: 10px 12px;
        .info{
          margin-left: 12px;
        }
      }
    }

    &-summary{
      margin-bottom: 20px;
      max-width: 100%;
      padding: 0 20px;
      .chart{
        margin: 20px 0;
        .group{
          margin-bottom: 24px;
          &-label{
            width: 100%;
          }
          &-bar{
            width: 100%;
          }
        }
      }
    }
  }
}