<div class="dashboard">
  <div class="dashboard-students">
    <div *ngFor="let student of students"
      class="card item flex-row-layout"
      [ngClass]="{'border-green': student.state=='confirmed', 'border-red': student.state=='error'}"
      (click)="goToStudentDetail(student)">
      <div class="item-photo">
        <div class="avatar" [ngStyle]="{'background-image': 'url('+student.photo_url+')'}"></div>
      </div>
      <div class="info">
        <p class="info-name text-bold">{{student.name}}</p>
        <div class="info-summary">
          <p>Carrera: {{student.enrollments[0].curriculum.name}}</p>
          <div class="flex-row-layout">
            <p>Currículum: {{student.enrollments[0].curriculum.code}}</p>
            <p>Nivel: {{student.enrollments[0].level}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-summary card">
    <h1 class="text-bold text-center">BIENVENIDO NOMBRE ADMIN</h1>
    <p class="description">Te recordamos tu estado de edición de estudiantes:</p>
    <div class="chart">
      <div class="group flex-row-layout">
        <p class="group-label text-bold">{{studentsSummary.pending.label}}</p>
        <div class="group-bar">
          <div class="progress-bar">
            <div class="percent" [ngStyle]="{width: studentsSummary.pending.percent}"></div>
          </div>
        </div>
        <div class="group-numbers">
          <p>{{studentsSummary.pending.percent}} o {{studentsSummary.pending.counter}}/{{students.length}}</p>
        </div>
      </div>
      <div class="group flex-row-layout">
        <p class="group-label text-bold">{{studentsSummary.block.label}}</p>
        <div class="group-bar">
          <div class="progress-bar">
            <div class="percent" [ngStyle]="{width: studentsSummary.block.percent}"></div>
          </div>
        </div>
        <div class="group-numbers">
          <p>{{studentsSummary.block.percent}} o {{studentsSummary.block.counter}}/{{students.length}}</p>
        </div>
      </div>
      <div class="group flex-row-layout">
        <p class="group-label text-bold">{{studentsSummary.confirmed.label}}</p>
        <div class="group-bar">
          <div class="progress-bar">
            <div class="percent" [ngClass]="{'full': studentsSummary.confirmed.percent=='100%'}"
              [ngStyle]="{width: studentsSummary.confirmed.percent}"></div>
          </div>
        </div>
        <div class="group-numbers">
          <p>{{studentsSummary.confirmed.percent}} o {{studentsSummary.confirmed.counter}}/{{students.length}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
