<div class="flex-row-layout jc-space-between ai-stretch">
  <div class="students">
    <div *ngFor="let student of students"
      class="card students-item flex-row-layout"
      [ngClass]="{'border-green': student.state=='confirmed', 'border-red': student.state=='error'}"
      (click)="goToStudentDetail(student.id)">
      <div class="avatar"></div>
      <div class="info">
        <p class="info-name text-bold">{{student.name}}</p>
        <div class="info-summary">
          <p>Carrera: Ingeniería Comercial</p>
          <div class="flex-row-layout">
            <p>Currículum: COD-INGCOM</p>
            <p>Nivel: {{student.enrollments[0].level}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card dashboard">
    <h1 class="text-bold text-center">BIENVENIDO NOMBRE ADMIN</h1>
    <p class="dashboard-description">Te recordamos tu estado de edición de estudiantes:</p>
    <div class="dashboard-summary">
      <div class="group flex-row-layout">
        <p class="group-label text-bold">{{studentsSummary.pending.label}}</p>
        <div class="group-bar">
          <div class="progress-bar">
            <div class="percent" [ngStyle]="{width: studentsSummary.pending.percent}"></div>
          </div>
        </div>
        <div class="group-numbers">
          <p>{{studentsSummary.pending.percent}} o {{studentsSummary.pending.counter}}/{{students.length}}</p>
        </div>
      </div>
      <div class="group flex-row-layout">
        <p class="group-label text-bold">{{studentsSummary.block.label}}</p>
        <div class="group-bar">
          <div class="progress-bar">
            <div class="percent" [ngStyle]="{width: studentsSummary.block.percent}"></div>
          </div>
        </div>
        <div class="group-numbers">
          <p>{{studentsSummary.block.percent}} o {{studentsSummary.block.counter}}/{{students.length}}</p>
        </div>
      </div>
      <div class="group flex-row-layout">
        <p class="group-label text-bold">{{studentsSummary.confirmed.label}}</p>
        <div class="group-bar">
          <div class="progress-bar">
            <div class="percent" [ngStyle]="{width: studentsSummary.confirmed.percent}"></div>
          </div>
        </div>
        <div class="group-numbers">
          <p>{{studentsSummary.confirmed.percent}} o {{studentsSummary.confirmed.counter}}/{{students.length}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
