<header class="header flex-row-layout ai-center jc-space-between">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="Foris">
  </div>
  <div class="user flex-row-layout">
    <div class="user-text">
      <p class="text-bold">NOMBRE ADMIN</p>
      <p>COD-ADMIN</p>
    </div>
    <div class="user-photo">
      <div class="avatar"></div>
    </div>
  </div>
</header>
<section class="section">
  <router-outlet></router-outlet>
</section>
<footer class="footer">
  <div class="flex-row-layout ai-center">
    <div>
      <p>DESARROLLADO POR DIANA NAVARRO</p>
      <div class="footer-icons flex-row-layout jc-flex-end">
        <a href="https://github.com/diananr" target="_blank">
          <img src="/assets/images/github.png" alt="Github">
        </a>
        <a href="https://www.linkedin.com/in/diana-navarro-ruiz" target="_blank">
          <img src="/assets/images/linkedin.png" alt="LinkedIn">
        </a>
      </div>
    </div>
    <div class="isotipo">
      <img src="/assets/images/isotipo.png" alt="Foris">
    </div>
  </div>
</footer>