<header class="header flex-row-layout ai-center jc-space-between">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="Foris">
  </div>
  <div class="user flex-row-layout">
    <div>
      <p class="text-bold">NOMBRE ADMIN</p>
      <p>COD-ADMIN</p>
    </div>
    <div class="avatar"></div>
  </div>
</header>
<section class="section">
  <router-outlet></router-outlet>
</section>
<footer class="footer">
  <div class="flex-row-layout ai-center">
    <div>
      <p class="text-thin">DIANA NAVARRO</p>
    </div>
    <div class="isotipo">
      <img src="/assets/images/isotipo.png" alt="Foris">
    </div>
  </div>
</footer>