
$color-primary: #38B7B1;
$color-accent: #02C39A;
$color-gradient: linear-gradient(90deg, #38B7B1 0%, #19B0BE 47.92%, #00ABC8 100%);

$color-grey-100: #22303F;
$color-grey-75: #5C677D;
$color-dark-blue: #023F49;
;
