$justify-content-values: (
	flex-start, flex-end, center, space-between, space-around, space-evenly
);

$align-items-values: (
	stretch, center, flex-start, flex-end, baseline
);

$flex-points: (
	'1', '5' , '10', '15', '20', '25', '30', '35', '40', '45', '50', '55',
	'60', '65', '70', '75', '80', '85', '90', '95', '100', '33', '66'
);

$flex-grow-values: (
	1, 2
);

@each $ais in $align-items-values{
	.ais-#{$ais}{
		@include alignSelf($ais);
	}
}

.flex-row-layout, .flex-col-layout{
	@include layoutFlex();
	@include justifyContent(flex-start);
	@include alignItems(flex-start);
	.flex{
		@include flexFlex();
	}
	.flex-auto{
		@include flexFlex(0 0 auto);
	}
	&.flex-wrap{
		@include flexWrap();
	}
	@each $jc in $justify-content-values{
		&.jc-#{$jc}{
			@include justifyContent($jc);
		}
	}
	@each $ai in $align-items-values{
		&.ai-#{$ai}{
			@include alignItems($ai);
		}
	}
	&.flex-gap{
		@each $point in $flex-points{
			.flex-#{$point}{
				&:not(:first-child){
					width: calc(#{$point+'%'} - 10px);
				}
				&:first-child{
					width: #{$point+'%'};
				}
			}
		}
	}
	@each $fg in $flex-grow-values{
		.flex-grow-#{$fg}{
			@include flexGrow($fg);
		}
	}
}

.flex-row-layout{
	@include directionFlex(row);
	@each $point in $flex-points{
		.flex-#{$point}{
			width: #{$point+'%'};
		}
	}
	&.flex-gap{
		&>*:not(:first-child){
			margin-left: 10px;
		}
	}
}

.flex-col-layout{
	@include directionFlex(column);
	@each $point in $flex-points{
		.flex-#{$point}{
			height: #{$point+'%'};
		}
	}
	&.flex-gap{
		&>*:not(:first-child){
			margin-top: 10px;
		}
	}
}